<form>
    <div class='mb-3'>
        <input type="text" name="name" placeholder="User Name" class="form-control" [(ngModel)]="user.name" required>
    </div>
    <div class='mb-3'>
        <input type="text" name="email" placeholder="User Email" class="form-control" [(ngModel)]="user.email" required>
    </div>
    <input type="submit" value="Update User" (click)="updateUser()" class="btn btn-success"> |
    <input type="reset" value="Clear Fields" class="btn btn-danger"> |
    <a class="btn btn-secondary" routerLink="/users">Back</a>
    
</form>